.homeBox {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 89.1vh;
    overflow: auto;
    scrollbar-width: none;
}