.personProfileNavBox {
    & .personInfoNav {
        position: absolute;
        height: 8vh;
        background: linear-gradient(to bottom, rgba(80, 41, 41, 0.8) 3%, rgba(30, 30, 30, 1) 50%, rgb(0, 0, 0) 100%);
        width: 17.5vw;
        margin-top: 3.3vh;
        top: 12.5vh;
        left: 0;
        border: 1px solid #696464;
        border-radius: 0 50px 50px 0;
        z-index: 6;
        transition: transform 210ms linear;
        transform: translateX(-14vw);

        & .iconPortrait {
            display: block;
            position: absolute;
            height: 7vh;
            width: 7vh;
            cursor: pointer;
            background: rgb(49, 48, 48);
            border: 1px solid rgba($color: #696464, $alpha: 1);
            border-radius: 100%;
            right: 1%;
            top: 2px;
            transition: all 0.3s linear;
            z-index: inherit;
        }

        & .username {
            display: block;
            position: absolute;
            color: white;
            top: 10px;
            left: 4%;
            font-size: 24px;
        }

        & .lightLine {
            display: block;
            position: absolute;
            height: 4px;
            width: 61%;
            background-color: rgb(163, 165, 29);
            top: 80%;
            left: 3%;
            border: 1px solid rgb(163, 165, 29);
            border-radius: 2px;
        }

        & .SignInState {
            display: block;
            position: absolute;
            font-family: sans-serif;
            font-style: normal;
            color: rgb(163, 165, 29);
            top: 20px;
            right: 120px;
        }
    }

    &:hover .personInfoNav {
        transform: translateX(0);
    }

    &:hover .iconPortrait {
        height: 12vh;
        width: 12vh;
        top: 0;
    }

    & .dropPersonOptions {
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 0;
        top: -1vh;
        left: 0;
        z-index: 5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: translateX(-17.5vw);
        transition: transform 230ms linear;

        & .dropOptions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: absolute;
            width: 17.5vw;
            height: auto;
            top: 17vh;
            margin-top: 5vh;
            padding-top: 6vh;
            background-color: rgba(46, 46, 46, 1);
            border: 15px solid rgb(92, 28, 28);
            border-radius: 15px;
            border-radius: 15px;

            & .dropOption {
                position: relative;
                display: block;
                width: 6vw;
                height: 10vh;
                left: 1vw;
                margin: 1vh;
                background-color: rgb(30, 30, 30);
                border: 1px solid rgb(70, 0, 41);
                border-radius: 15px;
                border-bottom: 1px solid rgb(214, 49, 159);
                text-align: center;
                cursor: pointer;

                & .text {
                    display: block;
                    color: white;
                    margin-top: 3.5vh;
                    font-size: 22px;
                }

                &:hover {
                    background-color: rgb(71, 71, 71);

                    & .text {
                        color: rgb(163, 165, 29);
                        text-decoration:line-through;
                    }
                }
            }

        }
    }

    &:hover .dropPersonOptions {
        transform: translateX(0);
    }

    /*
    @keyframes dropPersonOptionsVisible {
        from {
            transform: translateX(-300px)
        }

        to {
            transform: translateX(0)
        }
    }

    @keyframes dropPersonOptionsInvisible {
        from {
            transform: translateX(0)
        }

        to {
            transform: translateX(-300px)
        }
    }

    &:hover .dropPersonOptions {
        animation-name: dropPersonOptionsVisible;
        animation-duration: 300ms;
        animation-timing-function: normal forwards;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    &:not(:hover) .dropPersonOptions {
        animation-name: dropPersonOptionsInvisible;
        animation-duration: 300ms;
        animation-timing-function: normal forwards;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }*/
}