.articleCardSmall {
    height: 37.5vh;
}

.articleCardMedium {
    height: 50.6vh;
}

.articleCardLarg {
    height: 61vh;
}

.articleCardSmall,
.articleCardMedium,
.articleCardLarg {
    display: block;
    position: relative;
    width: 18vw;
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid black;
    border-radius: 35px 35px 0 35px;
    flex-shrink: 0;
    transition: height 0.15s linear;
    cursor: pointer;

    //头像部分的背景板
    & .profileBlocks {
        & .profileBlockMain {
            display: block;
            position: absolute;
            bottom: 11.9vh;
            left: 1.4vh;
            height: 7.6vh;
            width: 7.6vh;
            background-color: rgb(34, 34, 34);
            border-radius: 100%;
            z-index: 1;
        }

        & .profileBlockLeft {
            display: block;
            position: absolute;
            bottom: 16.35vh;
            left: -1.09vw;
            height: 4.2vh;
            width: 4.2vh;
            background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 75%, rgb(34, 34, 34) 75%, rgb(34, 34, 34) 100%);
            clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
            z-index: 1;
        }

        & .profileBlockRight {
            display: block;
            position: absolute;
            bottom: 16.4vh;
            left: 8.5vh;
            height: 4.2vh;
            width: 4.2vh;
            background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 75%, rgb(34, 34, 34) 75%, rgb(34, 34, 34) 100%);
            clip-path: polygon(0% 50%, 50% 50%, 50% 100%, 0% 100%);
            z-index: 1;
        }

        //头像位置
        & .profile {
            display: block;
            position: absolute;
            bottom: 12.4vh;
            left: 1.9vh;
            height: 6.6vh;
            width: 6.6vh;
            background: rgb(14, 0, 0);
            object-fit: cover;
            border-radius: 100%;
            z-index: 2;
        }
    }

    //文字部分
    & .articleBlock {
        display: block;
        position: absolute;
        height: 16.5vh;
        width: 17.6vw;
        bottom: 0;
        border-bottom-left-radius: inherit;
        background-color: rgb(34, 34, 34);
        z-index: 1;
        opacity: 0.9;

        & .articleAuthor,
        & .articleTitle,
        & .summrary,
        & .articleTitleHighLight {
            display: block;
            position: absolute;
            z-index: 1;
        }

        & .articleAuthor {
            color: rgb(102, 102, 102);
            bottom: 12.8vh;
            left: 5.4vw;
            font-size: 22px;
            width: 11vw;
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .articleTitle,
        & .articleTitleHighLight {
            bottom: 4.5vh;
            left: 1.1vw;
            font-size: 22px;
            width: 14vw;
            height: 60px;
            overflow: auto;
            scrollbar-width: none;
            text-overflow: ellipsis;
        }

        & .articleTitle {
            color: rgb(153, 153, 153);
            border-bottom: 1px solid rgba(153, 153, 153, 0.4);
        }

        & .articleTitleHighLight {
            color: rgb(249, 249, 249);
            border-bottom: 1px solid rgba(249, 249, 249, 0.4);
        }

        & .summrary {
            color: rgb(179, 179, 179);
            bottom: 1.15vh;
            left: 1vw;
            font-size: 20px;
            width: 15vw;
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .authorUnderline {
            display: block;
            position: absolute;
            bottom: 12vh;
            left: 4.8vw;
            width: 11.5vw;
            height: 0.3vh;
            background-color: rgb(55, 55, 55);
        }
    }
}

.articleCardSmall:hover,
.articleCardMedium:hover,
.articleCardLarg:hover {
    height: 65vh;
}

.coverImage {
    display: block;
    border-radius: inherit;
    width: 100%;
    height: calc(100% - 12.5vh);
    object-fit: cover;
    object-position: top;
    z-index: 0;
}