.searchBox {
    display: block;
    position: absolute;
    height: 89.1vh;
    width: 32vw;
    left: 20px;
    border-radius: 50px 0 0 50px;
    background-color: rgba(228, 235, 227, 0.2);

    & .searchCategories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 12vh;
        left: 2vw;
        height: 54px;
        width: 28vw;
        border-bottom: 1px solid rgba(227, 229, 231, 0.6);

        & .searchCategory {
            display: flex;
            position: relative;
            margin: 10px;
            height: 46px;
            width: 86px;
            bottom: 8px;
            cursor: pointer;

            & .text {
                display: block;
                position: relative;
                color: black;
                text-align: center;
                left: 20%;
                height: 30px;
                width: auto;
                font-size: 30px;
                pointer-events: none;
            }

            &:hover .text {
                color: rgb(4, 79, 141);
            }
        }
    }

    & .underline {
        display: block;
        position: absolute;
        top: 16.4vh;
        left: 8.758vw;
        height: 0.5vh;
        width: 3vw;
        border-radius: 10px;
        background-color: rgb(4, 79, 141);
        transition: all 320ms linear;
    }

    & .filterContent {
        display: block;
    }
}