.articleCardFlows {
    display: flex;
    position: absolute;
    right: 20px;
    height: 89.1vh;
    width: 64vw;
    border-radius: 0 50px 50px 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(228, 235, 227, 0.2);

    & .articleCardFlow {
        display: flex;
        position: relative;
        width: 18.3vw;
        flex-direction: column;
        overflow: auto;
        scrollbar-width: none;
    }
}