.navOptions {
    display: flex;
    height: 60px;
    margin-top: 25px;
    text-align: center;

    font-family: 'Dela Gothic One';
    font-style: normal;
    font-size: 26px;

    color: white;
    justify-content: center;
    border: 4px solid rgb(75, 75, 75);
    border-radius: 100px 100px 100px 100px;

}