.navOptions {
    display: flex;
    position: relative;
    height: 60px;
    margin-top: 25px;
    text-align: center;

    font-family: 'Dela Gothic One';
    font-style: normal;
    font-size: 24px;

    color: white;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%,rgba(#0a1d47, 0.5) 50%, rgba(#0b2561, 0) 100%);
}