@font-face {
  font-family: 'SmileySans';
  src: url('./assets/Font-family/SmileySans/SmileySans-Oblique.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SmileySans', 'Dela Gothic One', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./assets/bg.jpg');
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 或者使用 contain */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}